
<ion-view view-title="Trivia">
    <ion-content class="im-wrapper">

    <div class="row"></div>
    <div class="row">
        <div class="col">
            <center><img src="img/riddler.jpg" class="circle" style="max-width:120px;"></center>
        </div>
    </div>
    <div class="row">
        <center><p>{{preguntas[datosPartida.numeroPregunta].question.text}}</p></center>
    </div>

    <div class="list">
      <div class="row" ng-model="preguntas" ng-repeat="respuesta in preguntas[datosPartida.numeroPregunta].question.answers">
        <button class="button button-full button-assertive" ng-click="verificaRespuesta(respuesta)">{{respuesta}}
        </button>
      </div>
    </div>    
    </ion-content>
</ion-view>
